.blackKeys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -350px;
  font-size: 0.8em;
}

.columnLeft {
  position: relative;
  left: -58px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 5px;
}

.columnRight {
  position: relative;
  left: 52px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.blackKeys button {
  background-color: black;
  color: var(--pink);
  height: 250px;
}



.blackKeys button:hover {
  background-color: var(--green);
  color: var(--purple);
}
