.blackKeys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -350px;
  font-size: 0.8em;

}

.columnLeft {
  position: relative;
  left: -58px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 5px;
}

.columnRight {
  position: relative;

  left: 52px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
button.blackKey {
  background-color: black;
  color: white;
  height: 250px;
}

.row1 {
  display: flex;
  justify-content: center;
}

button.blackKey:hover {
  background-color: var(--green);
  color: black;
}
