:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  
  

  color: white;
  background-image: url("./assets/piano_wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --purple: #32203b;
  --lilac: #9c5d99;
  --pink: #cb4b79;
  --green: #78eade;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
}
h3 {
  font-size: 1.6em;
  line-height: 1.1;
}





