.pianoContainer {
  display: flex;
  gap: 5em;
}
.songsList {
  display: flex;
  flex-direction: column;

  gap: 1em;
}
.songs {
  text-align: left;
  width: 15em;
  background-color: var(--pink);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.songs:hover {
  background-color: var(--lilac);
}

.selectedSong {
  background-color: var(--green);
}

.piano {
  width: 1000px;
  height: 750px;
  width: 800px;
  height: 520px;
  background-color: var(--purple);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(219, 219, 219, 0.7);
}

.piano button {
  width: 95px;
  height: 350px;
  background-color: white;
  border: 3px solid var(--lilac);
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--purple);
}

.piano button:hover {
  background-color: var(--green);
}
