.keyboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.keyboardContainer button {
  position: relative;
  width: 100px;
  height: 50px;
  background-color: var(--pink);
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.keyboardContainer span {
  font-size: 1.7em;
  color: white;
}

.keyboardContainer button:hover {
  background-color: var(--lilac);
}
